@model IEnumerable<FastCode.ViewModels.DipendenteView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Dipendentes" asp-action="Index" method="get">
	<p>
		Inserisci matricola dipendente: <input type="text" name="Matricola" />
		<input type="submit" value="Seleziona Top Manager (1° Livello)" />
	</p>
</form>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Matricola)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Manager)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Matricola)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Manager)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
